extends layout


block content



  .container

    .articles
      each article in articles
        .article.wow.zoomIn
          a.overlay(href= article.url, target="_blank")
            .content
              img(src="/images/open.png")
              div OPEN

          .title
            h3
              a(href = article.url, target = '_blank') #{article.title}
              //span.arrow & rarr;
              //span.source #{article.source}
          h4
          - article.description = article.description.substr(0, 100000) + ((article.description.length > 10000) ? "..." : "" );
          p  #{article.description}
