extends layout


block content



  .container

    .articles
      each article in articles
        .article
          .title
            h3
              a(href = article.url, target = '_blank') #{article.title}
              //span.arrow & rarr;
              //span.source #{article.source}
          h4
          - article.description = article.description.substr(0, 250) + ((article.description.length > 120) ? "..." : "" );
          p  #{article.description}
